<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <script
      src="https://kit.fontawesome.com/1d273bf567.js"
      crossorigin="anonymous"
    ></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Flights</a>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mybooking">My Bookings</a>
                </li>
            </ul>
            <span style="padding-right: 10px;"><%= Name %></span>
            <a href="/login"><span class="navbar-text">Logout</span></a>
        </div>
    </nav>
    <div class="container mt-2">
        <div class="searchform col-sm-10">    
            <div class="card bg-light">
                <div class="card-body">
                    <form action="/search" method="POST">
                        <div class="row" style="margin-left: 10%;">
                            <div class="form-group row col-sm-6">
                                <label for="from" class="col-sm-3 col-form-label">From</label>
                                <div class="col-sm-6">
                                    <input type="text" name="from" id="from" required>
                                </div>
                            </div>
                            <div class="form-group row col-sm-6">
                                <label for="date" class="col-sm-3 col-form-label">Date</label>
                                <div class="col-sm-4">
                                    <input type="date" name="date" id="date" required>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-left: 10%;">
                            <div class="form-group row col-sm-6">
                                <label for="to" class="col-sm-3 col-form-label">To</label>
                                <div class="col-sm-6">
                                    <input type="text" name="to" id="to" required>
                                </div>
                            </div>
                            <div class="form-group row col-sm-6">
                                <label for="time" class="col-sm-3 col-form-label">Time</label>
                                <div class="col-sm-4">
                                    <input type="time" name="time" id="time" required>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-dark" style="margin-left: 45%;">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin: 0%;padding: 5px; width: 100%;">

        <% if(flights.length == 0) { %>
            <h3 style="text-align: center; width: 100%;"><%= content %></h3>
        <% } else { 
            flights.forEach(function(flight) { %>
                <div class="col-sm-3">
                    <div class="card bg-light text-center">
                        <div class="card-body">
                            <h5 class="card-title"><%= flight.Flightname %></h5>
                            <p class="card-text"><b><%= flight.Source %></b><br><%= flight.DepatureDate.toDateString(); %> <%= flight.DepatureTime %></p>
                            <p class="card-text"><i class="fa fa-arrow-down" aria-hidden="true"></i></p>
                            <p class="card-text"><b><%= flight.Destination %></b><br><%= flight.ArrivalDate.toDateString(); %> <%= flight.ArrivalTime %></p>
                            <p class="card-text">Available Seats - <%= flight.SeatsAvailable %></p>
                            <% if(flight.SeatsAvailable == 0) {%>
                                <a href="/book/<%= flight.Flightid %>" class="btn btn-primary disabled">Book</a>
                            <% } else { %>
                                <a href="/book/<%= flight.Flightid %>" class="btn btn-primary">Book</a>
                            <% } %>
                        </div>
                    </div>
                </div>
            <% });
        } %>

    </div>
</body>
</html>